<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/bookDetails/bookDetails.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <img src="/src/logo.png" alt="Logo image">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/main.html">Home</a>
                </li>
                <li>
                    <a href="/components/catogory/catogory.html">Novels</a>
                </li>
                <li>
                    <a href="/components/catogory/catogory.html">Fantasy</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>
            <ul>
                <li><a href="/main.html">Home</a></li>
                <li><a href="/components/catogory/catogory.html">Novels</a></li>
                <li><a href="#" class="disabled">Otonari no Tenshi</a></li>
            </ul>
        </h1>
        <div>
            <div class="book-details">
                <div class="illustration">
                    <div class="main-image">
                        <div>
                            <img src="/src/Novel-1.jpg" alt="Book: Otonari no Tenshi">
                        </div>
                        <p>Otonari no Tenshi</p>
                    </div>
                    <div class="sub-image">
                        <img src="/src/subimg-1.webp" alt="Sub image 1: illustration image">
                        <img src="/src/subimg-2.jfif" alt="Sub image 2: illustration image">
                        <img src="/src/subimg-3.jpg" alt="Sub image 3: illustration image">
                    </div>
                </div>
                <div class="book-description">
                    <h3>Otonari no Tenshi-sama ni Itsu no Ma ni ka Dame Ningen ni Sareteita Ken</h3>
                    <p>
                        The Angel Next Door Spoils Me Rotten (お隣の天使様にいつの間にか駄目人間にされていた件, Otonari no Tenshi-sama ni Itsu
                        no Ma ni ka Dame Ningen
                        ni Sareteita Ken, lit. The Case of the Neighbourhood Angel Turning Me Into a Degenerate Unaware)
                        is a Japanese light
                        novel series written by Saekisan and illustrated by Hanekoto. Originally published online on
                        Shōsetsuka ni Narō, SB
                        Creative has released six volumes of the series under their GA Bunko label since June 2019. Yen
                        Press holds the license
                        to publish the series in North America in English. A manga adaptation with art by Wan Shibata
                        and composition by Suzu
                        Yūki has been serialized via Square Enix's online manga magazine Manga UP! since January 2022.
                        As of July 2022, its
                        chapters have been collected in a single tankōbon volume. An anime television series adaptation
                        by Project No.9 is set
                        to premiere in 2023.
                    </p>
                    <p class="price">9.99$</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div>
                <p><q>One tap for open the new world</q></p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Copy right</a>
                    </li>
                    <li>
                        <a href="">Contact us</a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="footer-description">
            <h2>@Copyright 2022B Web Programming</h2>
            <p>
                This is individual work by Minh- s3891909
            </p>
        </div>
    </footer>
</body>

</html>