<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/header/header.css">
    <link rel="stylesheet" href="/components/footer/footer.css">
    <link rel="stylesheet" href="/components/catogory/catogory.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
    </style>
    <title>Novels catogories</title>
</head>

<body>
    <header>
        <div>
            <img src="/src/logo.png" alt="Logo image">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/main.html">Home</a>
                </li>
                <li>
                    <a href="/components/catogory/catogory.html">Novels</a>
                </li>
                <li>
                    <a href="/components/catogory/catogory.html">Fantasy</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1><a href="#">Light Novels</a></h1>
            <div class="book-container">
                <ul>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-1.jpg" alt="Book: Otonari no Tenshi">
                            <p>Otonari no Tenshi</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-4.jpg" alt="Book: Your Name">
                            <p>Your Name</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-5.jpg" alt="Book: Sword Art Online">
                            <p>Sword Art Online</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h1><a href="#">Fiction Novels</a></h1>
            <div class="book-container">
                <ul>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-7.webp" alt="Book: The hidden hindu">
                            <p>The hidden hindu</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-8.jpg" alt="Book: The secret messenger">
                            <p>The secret messenger</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-9.jfif" alt="Book: Solar Bones">
                            <p>Solar Bones</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h1><a href="#">Other genres</a></h1>
            <div class="book-container">
                <ul>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-2.jpg" alt="Book: The Maltese Falcon">
                            <p>The Maltese Falcon</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-3.webp" alt="Book: World & Peace">
                            <p>World & Peace</p>
                        </a>
                    </li>
                    <li class="book">
                        <a href="">
                            <img src="/src/Novel-6.jpg" alt="Book: Thoi Gian Tuoi Dep">
                            <p>Thoi Gian Tuoi Dep</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div>
                <p><q>One tap for open the new world</q></p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Copy right</a>
                    </li>
                    <li>
                        <a href="">Contact us</a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="footer-description">
            <h2>@Copyright 2022B Web Programming</h2>
            <p>
                This is individual work by Minh- s3891909
            </p>
        </div>
    </footer>
</body>

</html>